<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<web-app>
	
	<servlet>
		<servlet-name>computerdatabase</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>computerdatabase</servlet-name>
		<url-pattern>/dashboard</url-pattern>
		<url-pattern>/editComputer</url-pattern>
		<url-pattern>/addComputer</url-pattern>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<error-page>
		<error-code>404</error-code>
		<location>/views/404.html</location>
	</error-page>
	
	<error-page>
		<error-code>403</error-code>
		<location>/views/403.html</location>
	</error-page>
	
	<error-page>
		<error-code>500</error-code>
		<location>/views/500.html</location>
	</error-page>
	
</web-app>